/*
Styles for pagination in verticals tabs under Priblem Deck sidebar tab
*/
.kk-pdeck-paginate {
	display: flex;
	justify-content: space-between;
	max-width:45ch;
	/* specify explicit size */
	font-size: 0.875em; /* typical browser default for <small> */
}